* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 4rem;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  color: white;
}

p {
  text-align: center;
  font-size: 1rem;
  color: white;
}

a {
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1618199361436-600f4743215a?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#border-container-message {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.9;
  width: 80%;
  margin: auto;
  padding: 1rem;
  color: var(--off-white);
  border-radius: 1.5rem;
}

.button-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.btn {
  font-size: 1rem;
  text-align: center;
  border-radius: 10%;
  font-weight: 400;
  padding: 0.5rem;
  color: black;
  margin: 0.5rem;
  cursor: pointer;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  height: 100vh;
  width: 100vw;
}

.modal-info {
  width: 600px;
  max-width: 600px;
  border: var(--grey) 5px solid;
  border-radius: 5px;
  padding: 30px 50px;
  text-align: center;
  box-shadow: 0 2px 4px (rgba(0, 0, 0, 0.2));
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

h3 {
  color: white;
  font-size: 40px;
}
#resetButton {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
